* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content-wrapper {
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.lenses {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.lenses-img {
    width: 150px;
}

.lenses-img img {
    width: 100%;
}

.lenses-img:nth-child(2) {
    width: 200px;
}

.oops {
    width: 70%;
    padding: 50px;
    position: relative;
}

.oops-img {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oops-img img {
    width: 100%;
}

.oops p {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    color: #02040E;
}

a {
    margin-top: 30px;
    padding: 12px 28px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 7px;
    background-color: #00D2DC;
    color: #02040E;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 10px;
    cursor: pointer;
}

a:hover {
    background-color: rgba(16,244,255,1);
}

span {
    font-size: 26px;
}



@media screen and (max-width: 768px) {
    .content-wrapper {
        padding: 50px;
        justify-content: space-evenly;
        align-items: center;
        gap: 50px;
    }

    .lenses {
        padding: 50px;
        gap: 20px;
    }
    
    .lenses-img {
        width: 70px;
    }
    
    .lenses-img:nth-child(2) {
        width: 100px;
    }
    
    .oops-img {
        width: 200px;
    }
    
    .oops-img img {
        width: 100%;
    }
    
    .oops p {
        width: 100%;
        font-size: 24px;
    }

    a {
        margin-top: 30px;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
    
    span {
        font-size: 22px;
    }
}